div{
  background-color: #E4F9F5;
  padding-top: 2.5rem;
  position: relative;
}
h1
{
  margin : 3.125rem auto 0 auto;
  font-size: 3rem;
  color: #00bbf0   ;
  line-height: 1;

}
h2 {
  font-size : 2.5rem;
  color: red;
  margin-top: 0;
}
h3 {
  color : blue;
  font-size: 2.2rem;
}
h4  {
  color: blue;
  font-size: 1.7rem;
}
hr {
  border : dotted blue 0.375rem;
  border-bottom: none ;
  width: 4%;
}
body
{
  margin:0;
  text-align: center;
  font-family: 'Pacifico', cursive;

}
p {

  font-family: 'Sansita Swashed', cursive;
  font-size : 1.3rem;
  line-height: 2;
}
a:hover {
  color: #f9ffea;
}


.middle-container
{

}
.bottom-container
{
  background-color: #3fc1c9;
  padding-bottom: 1.5625rem;
  padding-top: 2.1875rem;

}
.up-cloud
{
    position: absolute;
    right: 30%;
    top:5%;
}
.down-cloud
{
  position: absolute;
  left: 30%;
  bottom: 50%;
}
.img-class
{
  border-radius: 100%;
  width : 30%;
  float: left;
  margin-right: 30px;
}
.im-class
{
  border-radius: 100%;
  width : 30%;
  float: right;
  margin-right: 1.875rem;
}
.skill-row
{
  width : 50%;
  margin: 6.25rem auto 6.25rem;
  text-align: left;
  padding-top: 1.875rem;
}
.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2ef52e 5%, #058aff 100%);
	background-color:#2ef52e;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:20px 24px;
	text-decoration:none;
	text-shadow:1px 0px 0px #1294eb;
  margin: 50px auto 50px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #058aff 5%, #2ef52e 100%);
	background-color:#058aff;
}
.myButton:active {
	position:relative;
	top:1px;
}
.footer-link{
  margin: 10px;
  text-decoration: none;
  color: #a2d5f2;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}
.last-p {
  font-size: 0.9rem;
  color: #ffffff;
}
.hea {
  font-size: 2.15rem;
  color: #00bbf0;
  font-family: serif;
  font-weight: bold;
}

